// . accesses a class
.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;

  // Elements within todo class
  p, input {
    margin: 0;
  }

  // first sub inside of todo
  > :first-child {
    margin-right: 1rem;
  }

  // Used to access an action
  &:hover {
    background: #f0f0f0;
  }
}

.todo__subtext {
  color: #999
}

.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}